<div class="alert alert-danger" role="alert" *ngIf="error">
    Tenemos algo de dificultades, disculpe las molestias. Error: {{ error.statusText }}
</div>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr>
<!--<div id="cuadrado" [@contenedorAnimable]="state" (@contenedorAnimable.start)="animacionInicia($event)" (@contenedorAnimable.done)="animacionTermina($event)"></div>
<a  class="btn btn-default" (click)="animar()">Animar</a>-->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Lugares cercanos</h2>
            <a class="btn btn-primary" routerLink="/crear/new">Crear nuevo negocio</a>
            <ul class="list-group">
                <ng-container *ngFor="let lugar of lugares">
                    <li class="list-group-item">
                        <a routerLink="/crear/{{lugar.id}}"><h3>{{ lugar.nombre | lowercase}}</h3></a> <br />
                        <small> Creado: {{ date | date:'shortTime' | uppercase }}</small>
                        <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-4" [@contenedorAnimable]="state">
            <h2>Destacados</h2>
            <ng-container *ngFor="let lugar of lugares">
                <div class="bg-warning padding" *ngIf="lugar.plan == 'pagado'">
                    <a routerLink="/crear/{{lugar.id}}"><h3>{{ lugar.nombre | lowercase}}</h3></a> <br />
                    <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                </div>
            </ng-container>
        </div>			
    </div>	
</div>
    